/* Families */

/* Sigils */
.sigil_170 {
  background-image: url('./sigils/alarm.png');
}

.sigil_700 {
  background-image: url('./sigils/apple.png');
}

.sigil_500 {
  background-image: url('./sigils/atk2.png');
}

.sigil_501 {
  background-image: url('./sigils/atk3.png');
}

.sigil_600 {
  background-image: url('./sigils/blockFly.png');
}

// .bloodLust-sigil{
//   background-image: url('./sigils/bloodLust.png');
// }
.sigil_201 {
  background-image: url('./sigils/bomb.png');
}

.sigil_400 {
  background-image: url('./sigils/boneDigger.png');
}

.sigil_990 {
  background-image: url('./sigils/burrower.png');
}

.sigil_100 {
  background-image: url('./sigils/bells.png');
}

.sigil_609 {
  background-image: url('./sigils/tail.png');
}

.sigil_998 {
  background-image: url('./sigils/worthy.png');
}

// .doubleDeath-sigil{
//   background-image: url('./sigils/doubleDeath.png');
// }
.sigil_300 {
  background-image: url('./sigils/dinamite.png');
}

.sigil_1 {
  background-image: url('./sigils/egg.png');
}

.sigil_401 {
  background-image: url('./sigils/evolve.png');
}

// .ghost-sigil{
//   background-image: url('./sigils/ghost.png');
// }
.sigil_502 {
  background-image: url('./sigils/fly.png');
}

.sigil_402,
.sigil_403 {
  background-image: url('./sigils/fragile.png');
}

// .gemme-sigil{
//   background-image: url('./sigils/gemme.png');
// }
.sigil_970 {
  background-image: url('./sigils/guardian.png');
}

.sigil_605 {
  background-image: url('./sigils/helper.png');
}

.sigil_601 {
  background-image: url('./sigils/ice.png');
}

.sigil_203 {
  background-image: url('./sigils/immortal.png');
}

.sigil_704 {
  background-image: url('./sigils/cat.png');
}

.sigil_150 {
  background-image: url('./sigils/leader.png');
}

.sigil_999 {
  background-image: url('./sigils/looter.png');
}

// .magicHand-sigil{
//   background-image: url('./sigils/magicHand.png');
// }
.sigil_940 {
  background-image: url('./sigils/push.png');
}

.sigil_900 {
  background-image: url('./sigils/random.png');
}

.sigil_971 {
  background-image: url('./sigils/regression.png');
}

// .sigil_999{
//   background-image: url('./sigils/scavenger.png');
// }
.sigil_604 {
  background-image: url('./sigils/shield.png');
}

.sigil_171 {
  background-image: url('./sigils/smell.png');
}

.sigil_207 {
  background-image: url('./sigils/snakeBomb.png');
}

.sigil_503 {
  background-image: url('./sigils/sniper.png');
}

.sigil_603 {
  background-image: url('./sigils/spikes.png');
}

.sigil_208 {
  background-image: url('./sigils/trap.png');
}

.sigil_972 {
  background-image: url('./sigils/turret.png');
}

.sigil_504 {
  background-image: url('./sigils/vampire.png');
}

.sigil_640 {
  background-image: url('./sigils/water.png');
}