/* Families */

/* Sigils */
.alarm-sigil{
  background-image: url('./sigils/alarm.png');
}
.apple-sigil{
  background-image: url('./sigils/apple.png');
}
.atk2-sigil{
  background-image: url('./sigils/atk2.png');
}
.atk3-sigil{
  background-image: url('./sigils/atk3.png');
}
.blockFly-sigil{
  background-image: url('./sigils/blockFly.png');
}
.bloodLust-sigil{
  background-image: url('./sigils/bloodLust.png');
}
.bomb-sigil{
  background-image: url('./sigils/bomb.png');
}
.boneDigger-sigil{
  background-image: url('./sigils/boneDigger.png');
}
.burrower-sigil{
  background-image: url('./sigils/burrower.png');
}
.bells-sigil{
  background-image: url('./sigils/bells.png');
}
.tail-sigil{
  background-image: url('./sigils/tail.png');
}
.degnoSacr-sigil{
  background-image: url('./sigils/degnoSacr.png');
}
.doubleDeath-sigil{
  background-image: url('./sigils/doubleDeath.png');
}
.dinamite-sigil{
  background-image: url('./sigils/bomb.png');
}
.egg-sigil{
  background-image: url('./sigils/egg.png');
}
.evolve-sigil{
  background-image: url('./sigils/evolve.png');
}
.ghost-sigil{
  background-image: url('./sigils/ghost.png');
}
.fly-sigil{
  background-image: url('./sigils/fly.png');
}
.fragile-sigil{
  background-image: url('./sigils/fragile.png');
}
.gemme-sigil{
  background-image: url('./sigils/gemme.png');
}
.guardian-sigil{
  background-image: url('./sigils/guardian.png');
}
.helper-sigil{
  background-image: url('./sigils/bells.png');
}
.immortal-sigil{
  background-image: url('./sigils/immortal.png');
}
.infSacrifice-sigil{
  background-image: url('./sigils/infSacrifice.png');
}
.leader-sigil{
  background-image: url('./sigils/leader.png');
}
.looter-sigil{
  background-image: url('./sigils/looter.png');
}
.magicHand-sigil{
  background-image: url('./sigils/magicHand.png');
}
.push-sigil{
  background-image: url('./sigils/push.png');
}
.random-sigil{
  background-image: url('./sigils/random.png');
}
.regression-sigil{
  background-image: url('./sigils/regression.png');
}
.scavenger-sigil{
  background-image: url('./sigils/scavenger.png');
}
.shield-sigil{
  background-image: url('./sigils/shield.png');
}
.smell-sigil{
  background-image: url('./sigils/smell.png');
}
.snakeBomb-sigil{
  background-image: url('./sigils/snakeBomb.png');
}
.sniper-sigil{
  background-image: url('./sigils/sniper.png');
}
.spikes-sigil{
  background-image: url('./sigils/spikes.png');
}
.trap-sigil{
  background-image: url('./sigils/trap.png');
}
.turret-sigil{
  background-image: url('./sigils/turret.png');
}
.vampire-sigil{
  background-image: url('./sigils/vampire.png');
}
.water-sigil{
  background-image: url('./sigils/water.png');
}