.board-grids {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
  justify-content: center;
}

.board-grid {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.leshi-P1-aligned{
  padding-right: 188px;
}
.leshi-P2-aligned{
  padding-left: 191px;
}