.turn-button {
  height: 25px;
  width: 90px;
}
// .turn-button-col-0 {
// background-color: grey;
// }
.turn-button-col-1 {
  background-color: cyan;
}
.turn-button-col-2 {
  background-color: pink;
}
