.live-counter-15,
.live-counter-14,
.live-counter-13,
.live-counter-12,
.live-counter-11,
.live-counter-10,
.live-counter-9,
.live-counter-8,
.live-counter-7,
.live-counter-6,
.live-counter-5 {
  color: blue;
}
.live-counter-4 {
  color: purple;
}
.live-counter-3 {
  color: green;
}
.live-counter-2 {
  color: orange;
}
.live-counter-1 {
  color: red;
}
.live-counter-0 {
  color: black;
}

.surrender-button {
  height: 25px;
  width: 85px;
}

.game-over-dialog{
  width: '10rem';
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
}